[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root_FalconDrone
Chest
Bone_Tail_01
Bone_Tail_02
Bone_Tail_03
Bone_TailPlume_R
Tail_01_R
Tail_02_R
Tail_03_R
Tail_04_R
Bone_TailPlume_L
Tail_01_L
Tail_02_L
Tail_03_L
Tail_04_L
Tail_01_Mid
Tail_02_Mid
Tail_03_Mid
Tail_04_Mid
Tail_Whisker_L_01
Tail_Whisker_L_02
Tail_Whisker_L_03
Tail_Whisker_L_04
Tail_Whisker_L_05
Tail_Whisker_L_06
Tail_Whisker_L_07
Tail_Whisker_L_08
Tail_Whisker_L_09
Tail_Whisker_R_01
Tail_Whisker_R_02
Tail_Whisker_R_03
Tail_Whisker_R_04
Tail_Whisker_R_05
Tail_Whisker_R_06
Tail_Whisker_R_07
Tail_Whisker_R_08
Tail_Whisker_R_09
Pelvis
Hip_R
Bone_Thigh_R
Bone_Calf_R
Bone0_Foot_R
Dummy_Foot_R
Bone_Thumb_R_01
Bone_Thumb_R_02
Bone_Thumb_R_03
Bone_Foot_R_Talon_R_01
Bone_Foot_R_Talon_R_02
Bone_Foot_R_Talon_R_03
Bone_Foot_R_Talon_L_01
Bone_Foot_R_Talon_L_02
Bone_Foot_R_Talon_L_03
Hip_L
Bone_Thigh_L
Bone_Calf_L
Bone0_Foot_L
Dummy_Foot_L
Bone_Thumb_L_01
Bone_Thumb_L_02
Bone_Thumb_L_03
Bone_Foot_L_Talon_R_01
Bone_Foot_L_Talon_R_02
Bone_Foot_L_Talon_R_03
Bone_Foot_L_Talon_L_01
Bone_Foot_L_Talon_L_02
Bone_Foot_L_Talon_L_03
Bone_Neck_01
Bone_Neck_02
Bone_Head
Bone_Jaw
Whisker_L_01
Whisker_L_02
Whisker_L_03
Whisker_L_04
Whisker_L_05
Whisker_L_06
Whisker_L_07
Whisker_L_08
Whisker_L_09
Whisker_R_01
Whisker_R_02
Whisker_R_03
Whisker_R_04
Whisker_R_05
Whisker_R_06
Whisker_R_07
Whisker_R_08
Whisker_R_09
Wing_Clav_R
Wing_R_Shoulder
Wing_R_Elbow
Wing_R_Wrist
Wing_R_Thumb
Wing_R_Feather_06
Wing_R_Feather_05
Wing_R_Feather_04
Wing_R_Feather_03
Wing_R_Feather_02
Wing_R_Feather_01
Jet_Right
Wing_Clav_L
Wing_L_Shoulder
Wing_L_Elbow
Wing_L_Wrist
Wing_L_Thumb
Wing_L_Feather_06
Wing_L_Feather_05
Wing_L_Feather_04
Wing_L_Feather_03
Wing_L_Feather_02
Wing_L_Feather_01
Jet_Left
