[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ROOT_Glider
Glider_Pelvis_Dummy
Glider_Chest
Glider_Dummy_Hinge
Glider_Sail_Volume
Glider_Box_Bone013
Glider_Box_Bone011
Glider_Box_Bone018
Glider_Box_Bone015
Glider_Box_Bone006
Glider_Box_Bone003
Glider_Box_Bone007
Glider_Box_Bone005
Glider_Box_Bone010
Glider_Box_Bone014
Glider_Box_Bone001
Glider_Box_Bone002
Glider_Box_Bone009
Glider_Box_Bone004
Glider_Box_Bone012
Glider_Box_Bone017
Glider_Box_Bone019
Glider_Box_Bone020
Glider_Box_Bone008
Glider_Box_Bone016
Box007
Glider_Plane_Ribbon_Right
Glider_Box_Right010
Glider_Box_Right009
Glider_Box_Right008
Glider_Box_Right007
Glider_Box_Right006
Box006
Glider_Plane_Ribbon_Center
Glider_Box_Center005
Glider_Box_Center004
Glider_Box_Center003
Glider_Box_Center002
Glider_Box_Center001
Box008
Glider_Plane_Ribbon_Center001
Glider_Box_Left015
Glider_Box_Left014
Glider_Box_Left013
Glider_Box_Left012
Glider_Box_Left011
SM_Glider01

[RemoveTracks]
Glider_Glide_00_Anim.46=all
