[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
DeformationSystem
Root_M
Hip_R
HipPart1_R
HipPart2_R
Knee_R
Ankle_R
Toes_R
ToesEnd_R
Pouch_G
RootPart1_M
RootPart2_M
Spine1_M
Spine1Part1_M
Spine1Part2_M
Chest_M
Scapula_R
Shoulder_R
ShoulderPart1_R
ShoulderPart2_R
Elbow_R
ElbowPart1_R
ElbowPart2_R
Wrist_R
MiddleFinger1_R
MiddleFinger2_R
MiddleFinger3_R
MiddleFinger4_R
ThumbFinger1_R
ThumbFinger2_R
ThumbFinger3_R
ThumbFinger4_R
IndexFinger1_R
IndexFinger2_R
IndexFinger3_R
IndexFinger4_R
Cup_R
PinkyFinger1_R
PinkyFinger2_R
PinkyFinger3_R
PinkyFinger4_R
RingFinger1_R
RingFinger2_R
RingFinger3_R
RingFinger4_R
Shoulder_Flex_R
Shoulder_Pad_R
Neck_M
NeckPart1_M
NeckPart2_M
Head_M
HeadEnd_M
Jaw
Lip_Lower
EyeLid_Lower_R
EyeLid_Lower_L
EyeLid_Top_L
EyeLid_Top_R
Brow_R
Brow_L
EyeBall_Control_L
EyeBall_Control_R
MouthCorner_Parent
MouthCorner_R
MouthCorner_L
Lip_Upper
Snarl_Left
Snarl_R
basicGuy_GRP
eyes
L_eye
R_eye
Scapula_L
Shoulder_L
ShoulderPart1_L
ShoulderPart2_L
Elbow_L
ElbowPart1_L
ElbowPart2_L
Wrist_L
MiddleFinger1_L
MiddleFinger2_L
MiddleFinger3_L
MiddleFinger4_L
ThumbFinger1_L
ThumbFinger2_L
ThumbFinger3_L
ThumbFinger4_L
IndexFinger1_L
IndexFinger2_L
IndexFinger3_L
IndexFinger4_L
Cup_L
PinkyFinger1_L
PinkyFinger2_L
PinkyFinger3_L
PinkyFinger4_L
RingFinger1_L
RingFinger2_L
RingFinger3_L
RingFinger4_L
Shoulder_Flex_L
Shoulder_Pad_L
socketHolder_01_parent
socketHolder_01
socketHolder_02_parent
socketHolder_02
socketHolder_03_parent
socketHolder_03
hache_zero
hache_bn
bow_cog_bn
group1
bn_bow_wood_06
bn_bow_wood_07
bn_bow_wood_08
bn_bow_wood_09
bn_bow_wood_09_split
bn_bow_stringTop_aimCnsParent1
bn_bow_stringBot_01
bn_bow_stringBot_01_split
bn_bow_wood_01
bn_bow_wood_02
bn_bow_wood_03
bn_bow_wood_04
bn_bow_wood_04_split
bn_bow_stringTop_aimCnsParent
bn_bow_stringTop_01
bn_bow_stringTop_01_split
bow_stringMid_parent
bow_stringMid_01
arrow_zero
arrow_bn
Cape_Box004
Cape_Box008
Cape_Box012
Cape_Box016
Cape_Box020
Cape_Box024
Cape_Box003
Cape_Box007
Cape_Box011
Cape_Box015
Cape_Box019
Cape_Box023
Cape_Box002
Cape_Box006
Cape_Box010
Cape_Box014
Cape_Box018
Cape_Box022
Cape_Box001
Cape_Box005
Cape_Box009
Cape_Box013
Cape_Box017
Cape_Box021
Hip_L
HipPart1_L
HipPart2_L
Knee_L
Ankle_L
Toes_L
ToesEnd_L
Pouch_H
Pouch_E
Pouch_F
Pouch_A
Pouch_B
Pouch_C
Pouch_D
Hip_Flex_L
Hip_Flex_R
Weapon_R
lowerTeeth_topo
upperTeeth_topo
Weapon_L
Quiver
Old_lowerTeeth_topo_NOT-USED
Old_upperTeeth_topo_NOT-USED

[RemoveTracks]
basicGuy_Sprint_Tilt_R.69=all
basicGuy_Sprint_Tilt_R.70=all
basicGuy_Sprint_Tilt_R.71=all
basicGuy_Sprint_Tilt_R.178=all
basicGuy_Sprint_Tilt_R.179=all
