[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
CTRL_Parent_001
CTRL_Antennae_001
CTRL_Antennae_002
CTRL_Arm_002
CTRL_Socket_001
CTRL_Arm_003
CTRL_Handle_001
CTRL_Arm_001
CTRL_Antennae_003
CTRL_Socket_002
CTRL_CapsuleParent_001
CTRL_CapsulePanel001
CTRL_CapsulePanel002
CTRL_CapsulePanel003
CTRL_CapsuleCylinder_001
CTRL_CapsuleLock_001
CTRL_CapsuleLock_002
CTRL_CapsuleLock_003
CTRL_Handle_002
