[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ShowDirector_Root_Dummy001
CTRL_Body_001
ShowDirector_Pelvis
ShowDirector_Eye
CTRL_ArmRod_010
CTRL_ArmJoint_010
CTRL_Panel_010
CTRL_ArmRod_011
CTRL_ArmJoint_011
CTRL_Panel_011
CTRL_ArmRod_009
CTRL_ArmJoint_09
CTRL_Panel_009
CTRL_ArmRod_007
CTRL_ArmJoint_007
CTRL_Panel_007
CTRL_ArmRod_005
CTRL_ArmJoint_005
CTRL_Panel_005
CTRL_ArmRod_003
CTRL_ArmJoint_003
CTRL_Panel_003
CTRL_ArmRod_002
CTRL_ArmJoint_002
CTRL_Panel_002
CTRL_ArmRod_004
CTRL_ArmJoint_004
CTRL_Panel_004
CTRL_ArmRod_006
CTRL_ArmJoint_006
CTRL_Panel_006
CTRL_ArmRod_008
CTRL_ArmJoint_008
CTRL_Panel_008
CTRL_Wing_001
CTRL_Wing_002
CTRL_ArmRod_001
CTRL_ArmJoint_001
CTRL_Panel_001
