[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ROOT_Deer
red_deer_doe_SKELMESH
root
body
spine_1
spine_2
spine_3
spine_4
neck_base
neck_1
head
L_ear
R_ear
jaw
l_clav
r_clav
l_scap
r_scap
l_humer
l_elbow
l_wrist
l_palm
l_finger
l_forearm
l_humer_Twist
r_humer
r_elbow
r_wrist
r_palm
r_finger
r_forearm
r_humer_Twist
belleh
Hips
l_femur
l_knee
l_ankle
l_ball
l_toe
l_femur_Twist
r_femur
r_knee
r_ankle
r_ball
r_toe
r_femur_Twist
tailio
SM_RobotDeer

[RemoveTracks]
JohnDoe_Intro_Deer_Anim.47=all
